
/* this is the CSS for txt2x: txt2x.css

  replace patterns:               draft
    background-color:#ffffff;
    basis font-size:12px;
    link color:#001dc1;
    li margin-top:30px;

 */

* {
  /* background-color:#ffffff; */
  font-family:Arial,sans-serif;
  /* font-family:Courier; */
  font-size:9pt;
  display:block;
 margin: 5px 5px 10px 10px;
}

/* Header tags

 */

section > h {
  /* 
 margin: 10px 10px 20px 20px;
     margin-top
     margin-bottom
     margin-left
     margin-right
  */
  display-type: block;
 font-weight:bold;
}

task > h {
  /* 
 margin: 10px 10px 20px 20px;
     margin-top
     margin-bottom
     margin-left
     margin-right
  */
  display-type: block;
  font-weight:bold;
}

@date {
  display-type: block;
}

target {
  display-type: block;
  margin-bottom:0px;
  text-align:left;
  background-color:#fffea1;
}

/* Links

 */
link {
  display:inline;
  text-decoration:none;
 margin: 0px 0px 0px 0px;
}

link:active {
  color:#ff0000;
}

link:link {
  /* color:#AA5522; */
}

link:visited {
  /* color:#772200; */
}

link.datum {
  background-color:#00FF00;
}
.done {
 color:#aaaaaa;
 /*  text-decoration:line-through; */
}
.geb {
 color:#000000;
 background-color:#00FF00;
}
.abgehakt {
 color:#aaaaaa;
 text-decoration:line-through;
}

/* 

 */
b.em {
  font-size:100%;
  font-weight:normal;
  text-decoration:underline;
}

/* settings for tables
 */

table {
  background-color:#666666;
  border-collapse:separate;
  border-spacing:1px;
  empty-cells:show;
  font-size:100%;

/*   background-color:#666666; */
/*   border-collapse:separate; */
/*   border-spacing:1px; */
/*   empty-cells:show; */
  /*  table-layout:fixed; */

  /* 
 margin: 5px 5px 5px 5px;
 margin: 5px 5px 5px 5px;
     margin-top
     margin-bottom
     margin-left
     margin-right
  */
}
.PIE {
}

table.vcard {
  margin: 5px 5px 5px 5px;
  background-color:#ffffff;
}

table.unlined {
  background-color:#ffffff;
}

tr {
}

/* data cells */
td {
  /*  border:1px solid #222222;*/
  background-color:#ffffff;
  vertical-align:top;
}
.empty {
  background-color:#ffffff;
  margin-bottom:0px;
}
.PRIO {
  background-color:#ff0000;
}
.state {
  text-align:center;
}
.transition {
  text-align:center;
  background-color:#e0e0e0;
}
.Sa,.sat,.So,.sun {
  margin-bottom:0px;
  text-align:left;
  background-color:#e0e0e0;
  font-weight:bold;
}
.summary {
  margin-bottom:0px;
  text-align:left;
  background-color:#fffed2;
}
.today {
  background-color:#dce6ff;
}

table.formicons {
  background-color:#ffffff;
  border-spacing:3px;
  width: 100%;
}
td.formicon {
  text-align:left;
  width: 27px;
}
.separator {
  width: 10px;
}
.filename {
  text-align:right;
}

td.SLIDE {
  margin: 15px 15px 15px 15px;
  background-color:#00FF00;
}

/* header cells */
th {
  margin-bottom:0px;
  text-align:left;
  background-color:#d9d9d9;
  color:#000000;
  font-weight:bold;
}
.title {
  margin-bottom:0px;
  text-align:left;
  background-color:#e0e0e0;
  font-weight:bold;
}
.header {
  margin-bottom:0px;
  text-align:left;
  background-color:#d9d9d9;
  font-weight:bold;
}
th.marker {
  margin-bottom:0px;
  text-align:center;
  background-color:#d9d9d9;
  font-weight:bold;
}
 
/* lists */
list {
  list-style-type:square;
}

list > p {
  /* 
 margin: 5px 5px 20px 20px;
     margin-top
     margin-bottom
     margin-left
     margin-right
  */
  margin-left:0px;
  /* text-indent:0.1cm; */
 display:list-item;
}

/* misc tags

*/
p {
  /* 
 margin: 5px 5px 20px 20px;
     margin-top
     margin-bottom
     margin-left
     margin-right
  */
  /* text-indent:0.1cm; */
 margin: 2px 2px 5px 20px;
  display-type: block;
}

li.hidden,p.hidden {
  /* 
 margin: 5px 5px 20px 20px;
     margin-top
     margin-bottom
     margin-left
     margin-right
  */
  /* text-indent:0.1cm; */
  /* margin: 5px 5px 2px 2px; */
  /* background-color:#00ff00; */
  margin-top:5px;
  margin-bottom:5px;
 font-family:Courier;
 font-size:120%;
}

pre {
  font-family:Courier,monospace;
 margin: 2px 2px 5px 20px;
}

dt {
  /* 
 margin: 10px 10px 20px 20px;
     margin-top
     margin-bottom
     margin-left
     margin-right
  */
 font-weight:bold;
 margin: 5px 5px 5px 5px;
}

dd {
  /* 
 margin: 10px 10px 20px 20px;
     margin-top
     margin-bottom
     margin-left
     margin-right
 margin: 2px 2px 2px 2px;
  */
}

img {
 border:none
}

input,textarea,select {
}
.additor {
  background-color:#EEEEEE;
  border-width:1px; 
  border-color:#BBBBBB;
  border-style:solid;
  padding:2px;
}

/* 
p,ul,ol,li,div,td,th,address,blockquote,i,b,input {
}
 */
