
/* this is the CSS for txt2x: txt2x.css

  replace patterns:               draft
    background-color:#ffffff;
    basis font-size:12px;
    link color:#001dc1;
    li margin-top:30px;

 */

body,table {
  margin: 2px 2px 2px 2px;
}

/* Header tags

 */

/* settings for tables
 */

table {
  background-color:#666666;
  border-collapse:separate;
  border-spacing:1px;
  empty-cells:show;

/*   background-color:#666666; */
/*   border-collapse:separate; */
/*   border-spacing:1px; */
/*   empty-cells:show; */
  /*  table-layout:fixed; */

  /* 
 margin: 5px 5px 5px 5px;
 margin: 5px 5px 5px 5px;
     margin-top
     margin-bottom
     margin-left
     margin-right
  */
}

table.vcard {
  margin: 5px 5px 5px 5px;
  background-color:#ffffff;
}

table.unlined {
  background-color:#ffffff;
}

tr {
}

/* data cells */
td {
  /*  border:1px solid #222222;*/
  background-color:#ffffff;
  vertical-align:top;
}
.empty {
  background-color:#ffffff;
  margin-bottom:0px;
}
.c11 {
  background-color:#ffcccc;
}
.c12 {
  background-color:#eeffee;
}
.c21 {
  background-color:#ffeeee;
}
.c22 {
  background-color:#ffffff;
}
.state {
  text-align:center;
}
.transition {
  text-align:center;
  background-color:#e0e0e0;
}
.Sa,.sat,.So,.sun {
  margin-bottom:0px;
  text-align:left;
  background-color:#f0f0f0;
  font-weight:bold;
}
.summary {
  margin-bottom:0px;
  text-align:left;
  background-color:#fffed2;
}
.today {
  background-color:#e0e0ff;
}
.gantt-low {
  background-color:#b9ffb9;
  vertical-align:middle;
  text-align:center;
}
.gantt {
  background-color:#ffff00;
  vertical-align:middle;
  text-align:center;
}
.gantt-high {
  background-color:#ff7d7d;
  vertical-align:middle;
  text-align:center;
}

table.formicons {
  background-color:#ffffff;
  border-spacing:3px;
  width: 100%;
}
td.formicon {
  text-align:left;
  width: 27px;
}
.separator {
  width: 10px;
}
.filename {
  text-align:right;
}

td.SLIDE {
  margin: 15px 15px 15px 15px;
  background-color:#00FF00;
}

/* header cells */
th {
  margin-bottom:0px;
  text-align:left;
  background-color:#d9d9d9;
  color:#000000;
  font-weight:bold;
}
.title {
  margin-bottom:0px;
  text-align:left;
  background-color:#e0e0e0;
  font-weight:bold;
}
.header {
  margin-bottom:0px;
  text-align:left;
  background-color:#d9d9d9;
  font-weight:bold;
}
th.marker {
  margin-bottom:0px;
  text-align:center;
  background-color:#d9d9d9;
  font-weight:bold;
}
 
/* misc tags

*/
p {
  /* 
 margin: 5px 5px 20px 20px;
     margin-top
     margin-bottom
     margin-left
     margin-right
  */
  /* text-indent:0.1cm; */
}
.p1 {
  background-color:#ffcccc;
}
.p2 {
  background-color:#ccffcc;
}
.p3 {
  background-color:#ccccff;
}
.done {
 color:#aaaaaa;
/*  text-decoration:line-through; */
}
.target {
  margin-bottom:0px;
  text-align:left;
  background-color:#fffea1;
}
.abstract {
 font-style:italic;
  margin-bottom:0px;
  text-align:center;
}
.outlook {
 color:#666666;
 /*  text-decoration:line-through; */
}

pre {
  font-family:Courier,monospace;
 margin: 2px 2px 5px 20px;
}

img {
 margin: 10px 10px 20px 20px;
 border:none
}

span.pieTab {
  vertical-align: top;
 display: inline-block;
 width: 7em;
  text-align:right;
 padding:5px;
  font-weight:bold;
}

input.pieTab {
  vertical-align: top;
  background-color:#EEEEEE;
  border-width:1px; 
  border-color:#BBBBBB;
  border-style:solid;
 padding:2px;
}

select.pieTab {
  vertical-align: top;
  background-color:#EEEEEE;
  border-width:1px; 
  border-color:#BBBBBB;
  border-style:solid;
 padding:2px;
}

textarea.pieTab {
  vertical-align: top;
  background-color:#EEEEEE;
  border-width:1px; 
  border-color:#BBBBBB;
  border-style:solid;
 padding:2px;
}

/* 
p,ul,ol,li,div,td,th,address,blockquote,i,b,input {
}
 */

*.task {
  background-color:#EEEEEE;
  padding: 1px;
  margin: 2px 2px 0px 0px;
}

*.taskDone,*.targetDone {
  color:#AAAAAA;
  background-color:#EEEEEE;
  padding: 1px;
  margin: 2px 2px 0px 0px;
}

*.task1 {
  background-color:#ffdddd;
  padding: 1px;
  margin: 2px 2px 0px 0px;
}

*.task2 {
  background-color:#ddffdd;
  padding: 1px;
  margin: 2px 2px 0px 0px;
}

*.task3 {
  background-color:#ddddff;
  padding: 1px;
  margin: 2px 2px 0px 0px;
}

*.target {
  vertical-align: top;
  background-color:#fffea1;
  padding:1px;
  margin: 2px 2px 0px 0px;
}

*.highlight {
  border-right-color:#ff4444;
  border-right-style: solid;
  border-right-width: 8px;
  padding-right: 5px;
}

/* text marker like styles
 */
span.marker-red {
  background-color:#ff8888;
}
span.marker-yellow {
  background-color:#ffff00;
}
span.marker-green {
  background-color:#88ff88;
}
span.u {
  text-decoration:underline;
}
span.b {
  font-weight:bold;
}
span.i {
  font-style:italic;
}

